*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body{
    font-family: 'Arial', serif;
    height: 100%;
    width: 100%;
}
h1 {
    font-family: Georgia;
    font-size: 2em;
    color: #eeeeee;
}
h2 {
    font-size: 1.2em;
    color: #eeeeee;
}
h3 {
    font-size: 1em;
    color: #eeeeee;
}
p {
    text-indent: 2px;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 0.8em;
    margin: 5%;
    font-family: Georgia;
    color: #666666;
}
section {
    height: 100%;
    width: 100%;
}
.nav {
    margin-top: -10px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    opacity: 0.9;
}
.nav ul {
    list-style-type: none;
    padding-top: 30%;
    text-align: center;
    margin-left: 27%;
}
.nav a {
    padding-top: 20%;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;
    display: table-cell;
    vertical-align: middle;
}
.nav a:hover {
    color: #f1f1f1;
}
.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#navbutton {
    opacity: 0.9;
    bottom: 50%;
    position: fixed;
    padding: 10px;
    background-color: #111;
    border-radius: 50%;
    margin-left: -50px;
}
.socialnav {
    list-style-type: none;
    margin-left: -25%;
    text-align: center;
}
.nav .socialnav {
	padding-top: 10%;
	margin-left: 0%;
}
.socialnav li {
    display: inline;
}
.socialnav a {
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;
    display: table-cell;
    padding: 8px;
}
.socialnav a:hover {
    color: #f1f1f1;
}
.intro {
	width: 97%;
	margin: 1.5%;
    background: url("images/background.jpg");
    display: table;
    background-size: cover;
    background-attachment: fixed;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Railway', sans-serf;
    color: #ffffff;;
    text-shadow: 50px 100px 100px #000;
    vertical-align: middle;
}
.content h2 {
    vertical-align: bottom;
}
#sect1 {
    height: auto;
    text-align: center;
}
#mountainimg {
    margin-top: 5%;
    height: 40px;
    width: auto;
    align-content: center;
}
#sect1 h2 {
    font-size: 1.2em;
    color: #4d4d4d;
    width: 50%;
    height: auto;
    margin-left: 25%;
    vertical-align: baseline;
    text-align: center;
    line-height: 23px;
}
#sect2 {
    margin-top: 5%;
    text-align: center;
}
#img-title {
    font-family: Georgia;
    font-size: 0.8em;
    color: #666666;
    font-style: italic;
}
#wraper {
	width: 90%;
	margin: 5%;
}
#img1 {
    width: 49.5%;
    height: auto;
    float: left;
}
#img2 {
    width: 49.5%;
    height: auto;
    float: right;
}
#sect3 {
    margin-top: 50%;
    text-align: center;
}
#sect3 h2 {
    font-size: 1.2em;
    color: #4d4d4d;
    width: 50%;
    height: auto;
    margin-left: 25%;
    vertical-align: baseline;
    text-align: center;
    line-height: 23px;
}
#swatpalace {
	width: 84%;
	height: auto;
	margin: 8%;
	margin-top: -2%;
}
#sect4 {
	background-color: #e6e6e6;
	margin: 1.5%;
	width: 97%;
}
#history {
	padding-top: 8%;
	width: 50%;
	width: 250px;
	height: 300px;
	margin-left: 15%;
}
#sect4 h2 {
    font-size: 1.2em;
    color: #4d4d4d;
    width: 50%;
    height: auto;
    margin-left: 25%;
    vertical-align: baseline;
    text-align: center;
    line-height: 23px;
}
footer {
    width: 100%;
    background-color: #1a1a1a;
}
.primarynav {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0;
}
.primarynav li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}
.primarynav li a {
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.primarynav li a:hover {
    color: #f5f5f5;
}
.social {
   display: none;
}
.copyright {
    background-color: #1a1a1a;
}
footer p {
    padding: 5px 0 9px 0;
    text-align: center;
    font-size: 0.8em;
    color: #ffffff;
    margin: 0;
}
footer ul {
    margin: -1px;
}
@media screen and (min-width: 600px) {
body {
    background-color: #ffffff;
}
p {
   font-size: 1.3em;
   line-height: 35px;
   padding: 1%;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
.socialnav {
	display: none;
}
.intro {
	background: url("images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	font-family: 'Railway', sans-serf;
	color: #ffffff;;
	text-shadow: 50px 100px 100px #000;
	font-size: 400%;
}
.content p {
	margin-top: 30px;
	font-family: 'oswald', sans-serf;
	color: #ffffff;
	font-size: 120%;
	text-shadow: 0px 0px 10px #000000;
	background:rgba(0, 0, 0, 0.62);
	border-radius: 10px;
	align-content: center;
}
#mountainimg {
    margin-top: 10%;
    height: 80px;
    width: auto;
    align-content: center;
}
#sect1 h2 {
    font-size: 1.7em;
    color: #4d4d4d;
    width: 50%;
    height: auto;
    margin-left: 25%;
    vertical-align: baseline;
    text-align: center;
    line-height: 35px;
}
#img-title {
	font-size: 1em;
	padding: 0;
	margin: 0;
}
footer {
    width: 100%;
    background-color: #1a1a1a;
}
.primarynav {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0;
}
.primarynav li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}
.primarynav li a {
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.primarynav li a:hover {
    color: #f5f5f5;
}
.social {
	display: inline-block;
    margin: -2px;
    list-style-type: none;
    text-align: center;
    background-color: #1a1a1a;
}
.social li {
    display: inline;
}
.social a {
    font-size: 1.6em;
    margin: 1px;
    padding: 5px;
    color: #404040;
}
.social:hover {
    color: #f5f5f5;
}
.copyright {
    background-color: #1a1a1a;
}
footer p {
    padding: 5px 0 9px 0;
    text-align: center;
    font-size: 0.8em;
    color: #ffffff;
    margin: 0;
}
footer ul {
    margin: -1px;
}