*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body{
 font-family: Helvetica;
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 2em;
    color: #eeeeee;
}
h2 {
    font-size: 1.2em;
    color: #4d4d4d;
    width: 50%;
    height: auto;
    margin-left: 25%;
    vertical-align: baseline;
    text-align: center;
    line-height: 23px;
}
h3 {
    font-size: 1em;
    color: #4d4d4d;
}
p {
    text-indent: 2px;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 0.8em;
    margin: 5%;
    color: #666666;
}
section {
    height: 100%;
    width: 100%;
}
.nav {
    margin-top: -10px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20%;
    text-align: center;
    opacity: 0.9;
}
.nav ul {
    list-style-type: none;
    padding-top: 80px;
    text-align: center;
    margin-left: 50px;
}
.nav a {
    padding-top: 20px;
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    display: table-cell;
    vertical-align: middle;
}
.nav a:hover {
    color: #818181;
}
.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#navbutton {
    opacity: 0.9;
    bottom: 43%;
    position: fixed;
    padding: 10px;
    background-color: #111;
    border-radius: 50%;
    margin-left: -50px;
}
.socialnav {
    list-style-type: none;
    text-align: center;
}
.nav .socialnav {
	padding-top: 10%;
	margin-left: -10px;
}
.socialnav li {
    display: inline;
}
.socialnav a {
    text-decoration: none;
    font-size: 2em;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    display: table-cell;
    padding: 8px;
}
.socialnav a:hover {
    color: #818181;
}
.intro {
	width: 97%;
	height: 90%;
	margin: 1.5%;
    background: url("images/background.jpg");
    display: table;
    background-size: cover;
    background-attachment: fixed;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    text-shadow: 50px 100px 100px #000;
    vertical-align: middle;
}
#sectclock {
	width: 100%;
	height: auto;
}
#clock1 {
	background-color: green;
	width: 50%;
	text-align: center;
	float: left;
}
#clock2 {
	background-color: red;
	width: 50%;
	text-align: center;
	float: right;
}
#clock1 h2 {
	color: #ffffff;
	margin-top: 1% 1%;
}
#clock2 h2 {
	margin-top: 1% 1%;
	color: #ffffff;
}
#clock1 h3 {
	color: #ffffff;
}
#clock2 h3 {
	color: #ffffff;
}
#sect1 {
    height: auto;
    text-align: center;
}
#mountainimg {
    margin-top: 3%;
    height: 40px;
    width: auto;
    align-content: center;
}
#sect2 {
    margin-top: 5%;
    text-align: center;
}
#img-title {
    font-size: 0.8em;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    background-color: red;
    margin-bottom: -3%;
}
#wraper {
	width: 90%;
	margin: 5%;
}
#img1 {
    width: 49.5%;
    height: auto;
    float: left;
}
#img2 {
    width: 49.5%;
    height: auto;
    float: right;
}
#name1 {
	width: 40%;
	float: left;
	background-color: red;
	color: #ffffff;
}
#name2 {
	width: 40%;
	float: right;
	background-color: red;
	color: #ffffff;
}
#sect3 {
	margin-top: 50%;
    text-align: center;
}
#swatpalace {
	width: 84%;
	height: auto;
	margin: 8%;
	margin-top: -2%;
}
#sect4 {
	background-color: #e6e6e6;
	margin: 1.5%;
	width: 97%;
	text-align: center;
	padding-bottom: 10%;
}
#history {
	padding-top: 8%;
	width: 50%;
	width: 250px;
	height: 300px;
}
#sect4 a {
	font-size: 1.5em;
	font-style:italic;
	text-decoration: none;
	color: #4d4d4d;
}
#sect4 a:hover {
	text-decoration: underline;
}
footer {
    width: 100%;
    background-color: #1a1a1a;
}
#secondarynav {
    list-style: none;
    text-align: center;
    padding: 20px 0px 10px 0;
}
#secondarynav li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}
#secondarynav li a {
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
#secondarynav li a:hover {
    color: #f5f5f5;
}
#social {
   display: none;
}
footer p {
    padding: 5px 0 9px 0;
    text-align: center;
    font-size: 0.8em;
    color: #ffffff;
    margin: 0;
}
@media screen and (min-width: 600px) {
h1 {
    font-size: 4em;
}
h2 {
    font-size: 1.5em;
    line-height: 30px;
}
h3 {
    font-size: 1em;
}
p {
    line-height: 28px;
    font-size: 1.1em;
}
.socialnav {
	display: none;
}
.intro {
	width: 98%;
	height: 88%;
	margin: 1%;
}
#mountainimg {
    margin-top: 5%;
    height: 80px;
}
#img-title {
	font-size: 1em;
	background-color: red;
}
#history {
	padding-top: 3%;
	width: 600px;
	height: 600px;
	padding-bottom: 2%;
}
#sect4 p {
	margin-top: 1%;
	margin-bottom: 1%;
}
#sect4 {
	padding-bottom: 2%;
}
#secondarynav li a {
    font-size: 1.3em;
}
#secondarynav li a:hover {
    color: red;
}

#social {
    margin: -2px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#social li {
    display: inline;
}
#social a {
    font-size: 1.6em;
    margin: 1px;
    padding: 5px;
    color: #404040;
}
#social a:hover {
    color: #f5f5f5;
}
footer p {
    font-size: 0.9em;
}