body{
    font-family: Helvetica;
    margin: 0;
}
h1 {
    font-size: 3em;
    color: #211922;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
    color: #f2f2f2;
}
p {
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 0.8em;
    color: #666666;
    padding: 0 10% 0 10%;
}
#desktopnav {
    display: none;
}
.nav {
    margin-top: -10px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #211922;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20%;
    text-align: center;
    opacity: 0.9;
}
.nav ul {
    list-style-type: none;
    padding-top: 40px;
    text-align: center;
    margin-left: 20px;
}
.nav a {
    padding-top: 20px;
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    display: table-cell;
    vertical-align: middle;
}
.nav a:hover {
    color: #818181;
}
.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#navbutton {
    opacity: 0.9;
    bottom: 43%;
    position: fixed;
    padding: 10px;
    background-color: #211922;
    border-radius: 50%;
    margin-left: -50px;
}
.socialnav {
    list-style-type: none;
    text-align: center;
}
.nav .socialnav {
    padding-top: 0;
    margin-left: -50px;
}
.socialnav li {
    display: inline;
}
.socialnav a {
    text-decoration: none;
    font-size: 2em;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    display: table-cell;
    padding: 8px;
}
.socialnav a:hover {
    color: #818181;
}
.inner-section p {
    color: #211922;
    font-size: 0.5em;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.inner-section h1 {
    margin: 0 0 10px 0;
}
footer {
    width: 100%;
    background-color: #211922;
}
#social {
   display: none;
}
footer p {
    padding: 5px 0 9px 0;
    text-align: center;
    font-size: 0.8em;
    color: #ffffff;
    margin: 0;
}
#togBut {
    float: right;
    text-align: center;
    width: 80px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #660033;
}
@media screen and (min-width: 600px) {
    h1 {
    font-size: 4em;
    }
    h2 {
    font-size: 2em;
    }
    h3 {
    font-size: 1.3em;
    }
    p {
    line-height: 28px;
    font-size: 1em;
    }
    .nav {
        display: none;
    }
    #navbutton {
        display: none;
    }
    #desktopnav {
        display: inline-block;
        width: 100%;
    }
    #desktopnav ul {
        padding: 0;
    }
    #desktopnav li {
        list-style-type: none;
        display: inline-block;
    }
    #desktopnav li a {
        font-size: 1.05em;
        color: #000;
        padding: 4px 16px;
        text-decoration: none;
        position: relative;
        color: #211922;
    }
    #desktopnav li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #644c67;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
    }
    #desktopnav li a:hover:before {
         visibility: visible;
        transform: scaleX(1);
    }
    #social {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    #social li{
        display: inline;
    }
    #social a {
        font-size: 1.3em;
        padding: 0 5px;
        color: #ffffff;
    }
    #social a:hover {
        color: red;
    }
    .fa {
    padding: 15px;
    width: 30px;
    text-decoration: none;
    margin: 5px 2px;
    }
    footer p{
        padding: 0;
    }
}