body {
    font-family: "Lato", sans-serif;
    margin:0;
    background-color: white;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 4em;
  margin: 0;
  padding: 1em;
  color: #eeeeee;
}
h2 {
  font-size: 1.5em;
  color: #eeeeee
}
p {
    text-indent: 2px;
    letter-spacing: 1px;
    line-height: 25px;
}
.nav {
    margin-top: -10px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    opacity: 0.9;
}
.nav ul {
	list-style-type: none;
}
.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    display: block;
    transition: 0.3s;
    display: table-cell;
    vertical-align: middle;
}
.nav a:hover {
    color: #f1f1f1;
}
.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#navbutton {
    opacity:0.9;
    bottom:50%;
    position: fixed;
    padding:10px;
    background-color:#111;
    border-radius: 50%;
    margin-left:-40px;
}
section {
    height: 70vh;
    margin: 10px;
    text-align: center;
}
.sect1 {
	padding-top: 30%;
	background-image: url(images/landingpage.jpg);
	background-size: cover;
	background-attachment: fixed;
}
#times {
	width: 100%;
	height: auto;
	color: white;
}
.swat {
	float: left;
	padding-left: 10px;
}
.derby {
	float: right;
	padding-right: 10px;
}
.sect2 {
    background-color: #f2f2f2;
}
.sect3 {
    background: white;
}
footer {
    width: 100%;
    background-color: #1a1a1a;
}
.primarynav {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0;
}
.primarynav li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}
.primarynav li a {
    font-size:0.9em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

}
.primarynav li a:hover {
    color: #f5f5f5;
}
.social {
	margin: -2px;
    list-style-type: none;
    text-align: center;
    background-color: #1a1a1a;
}
.social li {
    display: inline;
}
.social a {
    font-size: 1.6em;
    margin: 1px;
    padding: 5px;
    color: #404040;
}
.social :hover{
    color: #f5f5f5;
}
.copyright {
    background-color: #1a1a1a;
}
footer p {
    padding: 5px 0 9px 0;
    text-align: center;
    font-size: 0.8em;
    color: #ffffff;
    margin:0;
}
footer ul {
    margin: -1px;
}
@media screen and (min-width:600px) {

body {
    background-color: yellow;
}
h1 {
	color: #fff5f7;
	text-shadow: 0px 13px 70px #000;
}
.sect1 {
	padding-top: 20%;
}

}